.display-first-section {
    position: relative;
    background-color: #DEE9CF;
    z-index: -20;
    overflow: hidden;
}

.content-sec-one {
    position: absolute;
    right: 30px;
    top: 110px;
    color: yellow;
}

.content-sec-one h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 65px;
    color: yellow;
}

.content-sec-one h2 {
    font-size: 38px;
    color: #FF0101;
}

.shop-now-btn {
    font-weight: 500;
    color: #41503F;
    display: flex;
    align-items: center;
}

